<div class="header-photo_container">
    <div class="wrapper">
        <div class="header-photo">
            <h2 class="header-photo__title">
                News About Lian
            </h2>
            <p class="header-photo__p">
                Latest News & Insights
            </p>
        </div>
    </div>
</div>
