.footer {
  background-color: $c1;

  &__container {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }

  &__logo {
    text-align: center;

    & img {
      margin-top: 64px;
      margin-bottom: 44px;
    }
  }

  &__social {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 25px;

    & a {
      text-decoration: none;
      color: #777777;
      letter-spacing: 0.7px;
      font-size: 14px;
      line-height: 24px;
      margin-left: 27px;
      margin-right: 27px;

      &:hover {
        color: black;
        transition-duration: 1s;
      }
    }
  }

  &__copyright {
    text-align: center;
    padding-bottom: 47px;
    padding-top: 37px;

    & span {
      text-transform: uppercase;
      letter-spacing: 0.33px;
      color: $c6;
      font-size: $fs1;
      line-height: 26px;

      & strong {
        color: $c4;
      }
    }
  }
}
