@import "variables";

.first-part {
  max-width: 358px;
  background-color: $c24;

  &__card1 {
    padding: 39px 36px 40px 45px;
    background-color: $c1;

    &:hover {
      background-color: $c4;
      opacity: 0.85;
      color: $c18;
      transition-duration: 1s;

      & * {
        color: #d6d6d6;
      }
    }

    &__notice {
      max-width: 110px;
      text-align: center;
      color: $c1;
      background-color: $c4;
      font-size: $fs1;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }

    &__title {
      line-height: 30px;
      margin-top: 29px;
      font-size: $fs6;
      color: $c26;
    }

    &__author {
      color: $c5;
      font-size: $fs2;
      line-height: 30px;
      font-weight: 700;

      & span {
        margin-left: 5px;
      }

      & i {
        font-size: $fs1;
      }
    }

    &__text {
      line-height: 24px;
      font-weight: 400;
      color: #777777;
      margin-top: 25px;
      font-size: $fs2;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
      color: $c11;
      line-height: 24px;
      font-size: 13px;
      font-weight: 400;

      & div date {
        margin-left: 5px;
      }

      & div:last-child i:last-child {
        margin-left: 20px;
      }
    }
  }

  &__card2 {
    margin-top: 33px;
    background-color: $c1;

    &:hover {
      background-color: $c4;
      opacity: 0.85;
      color: $c18;
      transition-duration: 1s;

      & * {
        color: #d6d6d6;
      }
    }

    &__info {
      padding: 29px 36px 40px 45px;
    }

    &__title {
      color: $c26;
      font-size: $fs6;
      line-height: 30px;
    }

    &__author {
      color: $c5;
      font-size: $fs2;
      line-height: 30px;
      font-weight: 700;

      & span {
        margin-left: 5px;
      }

      & i {
        font-size: $fs1;
      }
    }

    &__text {
      line-height: 24px;
      font-weight: 400;
      color: #777777;
      margin-top: 25px;
      font-size: $fs2;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
      color: $c11;
      line-height: 24px;
      font-size: 13px;
      font-weight: 400;

      & div date {
        margin-left: 5px;
      }

      & div:last-child i:last-child {
        margin-left: 20px;
      }
    }
  }

  &__card3 {
    margin-top: 33px;
    background-image: url("/images/6-min.png");
    background-size: cover;
    background-repeat: no-repeat;

    &__notice {
      max-width: 110px;
      text-align: center;
      color: $c1;
      background-color: $c4;
      font-size: $fs1;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }

    &__title {
      line-height: 30px;
      margin-top: 29px;
      font-size: $fs6;
      color: $c26;
    }

    &__author {
      color: $c5;
      font-size: $fs2;
      line-height: 30px;
      font-weight: 700;

      & span {
        margin-left: 5px;
      }

      & i {
        font-size: $fs1;
      }
    }

    &__text {
      line-height: 24px;
      font-weight: 400;
      color: #777777;
      margin-top: 25px;
      font-size: $fs2;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
      color: $c11;
      line-height: 24px;
      font-size: 13px;
      font-weight: 400;

      & div date {
        margin-left: 5px;
      }

      & div:last-child i:last-child {
        margin-left: 20px;
      }
    }

    &_background {
      padding: 39px 36px 40px 45px;

      &:hover {
        background-color: $c4;
        opacity: 0.85;
        //color: $c1;
        color: $c18;
        transition-duration: 1s;

        & * {
          color: #d6d6d6;
        }
      }
    }
  }
}

