<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lazariev-project1</title>
    <script src="https://kit.fontawesome.com/204d857d96.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
</head>
<body>
<div>

    <header>
        {{> templates/header_nav}}
        {{> templates/header_img}}
    </header>

    <main>
        {{> templates/main_part}}
        {{> templates/load_more_button}}
    </main>

    <footer>
        {{> templates/footer}}
    </footer>

</div>
</body>
</html>

